{% extends layout.html.twig %}

{% block content %}
<div class="row">
    <div class="span3">
        <ul>
            <li>PHP 5.3</li>
            <li>Silex Microframework</li>
            <li>Doctrine 2.2</li>
            <li>Twitter Bootstrap</li>
        </ul>
    </div>
    <div class="span6">
        <div class="hero-unit">
            <h1>Barebones Silex Application</h1>
            <hr/>
            <h2 style="margin-top:20px;">with PhpEngine templating</h2>
        </div>
    </div>
    <div class="span3">
        <p>
            Made by Jody Mickey
        </p>
    </div>
</div>
{% endblock %}
